.title-container {
  margin-top: 8px;
  padding: 8px;
}

.homepage-title {
  font-size: 24px;
  letter-spacing: 1.6px;
  color: #000000;
  border-bottom: 2px solid #ef4141;
}

.profile-icon-container {
  display: flex;
  justify-content: flex-end;
}

.profile-icon {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background: #6fcf97;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 4px;
  z-index: 1;
  justify-content: space-between;
  margin-top: 72px;
  flex-direction: column;
}

.dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48%;
}

.dropdown-link:hover {
  background-color: #ececec;
}

.profile-icon:hover .dropdown-content {
  display: flex;
}

.tagline-container {
  font-size: 24px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.browse-card {
  cursor: pointer;
  background: #d8d8d8;
  border-radius: 4px;
  height: 72%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
}

.create-card {
  cursor: pointer;
  background: #d8d8d8;
  border-radius: 4px;
  height: 72%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-public {
  font-size: 36px;
  border-bottom: 1.6px solid transparent;
}

.create-private {
  margin-top: 8px;
  font-size: 36px;
  border-bottom: 1.6px solid transparent;
}

.create-public:hover {
  border-bottom: 1.6px solid #f15e5e;
}

.create-private:hover {
  border-bottom: 1.6px solid #f15e5e;
}


.signup-container{
  
}